body{
   display: flex; 
   font-size: medium;
   font-weight: 800;
   justify-content: center;
   align-items: center;
   height:95vh;
   background-image: url(/loginPage/LoginPageBG.jpg);

}

.fullPage{
background-color: rgba(0, 0, 0, 0.463);
display: flex;
justify-content: center;
align-items: center;
/* width: 100%;
height: 100%; */
margin: 0;
padding: 0;
}


.loginText{
   
    text-align: center;
    font-size: 6vh;
    font-family: cursive ;
    color: #ffee10;
}

.socialMediaLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: 36vh;
    align-items: center;
    /* background-color:rgba(4, 16, 16, 0.631); */
    padding: 0% 15%;
}

.socialMediaLogin img{
    margin-top: 6vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    margin: 0;
    height: 7vh;
    width: 5vh;
    /* border: 2px solid red; */
    border-radius: 50%;
    
} 

.socialMediaLogin img::before { 
    
    border: radius 50%;;
    background: #ffee10; 
   transition: .5s; 
   transform: scale(.9); 
   z-index: 999;
   
 }
  
  .socialMediaLogin img:hover::before {
    transform: scale(2);
    box-shadow: 0 0 15px #ff6c10;
  }
 
  
  .socialMediaLogin img:hover {
    color: #ffee10;
    box-shadow: 0 0 20px #9bff10;
    /* text-shadow: 0 0 10px #ffee10; */
  }
  .loginField form{
    display: flex;
    flex-direction: column;
    /* background-color: lightgreen; */
    height: 35vh;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
  }
  .loginField form input{
    height: 6vh;
    width: 50vh;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-size: 3vh;
    padding-left: 3vh;
  }
  #loginButton{
    background-image: radial-gradient(rgb(239, 52, 105), rgb(21, 41, 78))
  }
  .bottom{
    display: flex;
    justify-content: space-between;
  }

  .bottom button{
    height: 4vh;
    border-radius: 16px;
    font-weight: 700;
    
  }
  .bottomLogin{
    display: flex;
    justify-content: center;
    
  }
 
  .bottomLogin button{
    height: 4vh;
    border-radius: 16px;
    font-weight: 700;
  }