header{
    height:100px;
}
.top-navigation{
    border-collapse:"collapse" ;
    height: 175px;
    text-align: center;
    border: 2px;
    width: 40%;


}
.top-navigation thead{
    text
}
.tata{
    margin-top: 1% ;
    margin-right: 5% ;
    
    
}