.rightside {
    height: 150vh;
    overflow-y: scroll;
    
}
.leftside{
    height: 150vh;
    overflow-y: scroll;
}
body{
    overflow: hidden;
    
}
.right_header{
    margin: 0;
    padding: 0;
   
}