.rightside {
    /* height: 100%; */
    overflow-y: scroll;
    
}
.leftside{
    height: 100vh;
    overflow-y: scroll;
}
body{
    overflow: hidden;
    
}
.right_header{
    margin: 0;
    padding: 0;
    border: 2px solid black;
}
.profile{
    align-items: center;
    
}
.profile img{
    position: relative;
    
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 2%;
    align-self: flex-start;
}
.profile-menu{
    display: flex;
    height: 5%;
    /* margin-left: 15%; */
    padding: 0;
    align-self: flex-start;
    
}
.profile-menu-items{
     width: 15%;
    text-align: center;
    padding-right: 0;
    align-content: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
   
}

.mylist-shows{
    margin: 1%;
    padding: 0;

}
.mylist{
    justify-self: center;
    margin-left: 5%;
}