*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}
body{
    background-color: #f5826e;
}

.prodtable{
    border-collapse: collapse;
    width: 25em;
    background-color: #fff;
    border-radius: 5px;
}
.prodtable thead{
    border-bottom: 1px dashed gray;
    text-align: left;
}
.prodtable tfoot{
    border-top: 1px dashed gray;
    color: green;
}
.total {
   text-align: right;
}

.prodtable thead tr td{
    font-size: 16px;
    letter-spacing: 1px;
    color: gray;
}